<?xml version="1.0"?>

<launch>

  <arg name="robot_name" default="kmriiwa" />
  <arg name="robot_extras" default="$(find kmriiwa_description)/urdf/robot/empty.xacro"/>
  <arg name="publish_frequency" default="20"/>

  <group>

    <!-- TF to Simply Join the KUKA Driver and the URDF -->
    <node pkg="tf" type="static_transform_publisher" name="base_2_base" args="0 0 0 0 0 0 /base_link /kmriiwa_base_footprint $(arg publish_frequency)"/>

    <!-- Bring Up the Robot Description -->
    <include file="$(find kmriiwa_bringup)/launch/kmriiwa_bringup.launch">
      <arg name="robot_name" value="$(arg robot_name)" />
      <arg name="robot_extras" value="$(arg robot_extras)"/>
    </include>

    <!-- Viz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find kmriiwa_bringup)/config/KMR.rviz" />

  </group>

</launch>
